.navbar {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: gray;
    block-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    vertical-align:middle;
}

h6, h3, h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-align: center;
}

#workBtn, #loanBtn {
    height: 50px;
    width: 80px;
    background-color: #2196F3;
}

#bankBtn {
    height: 50px;
    width: 80px;
    background-color: rgb(16, 235, 16);
}

#buyBtn {
    margin: 10px;
    height: 120px;
    width: 300px;
    font-size: 52px;
    background-color: rgb(16, 235, 16);
    font-weight: bold;
}

.laptopImg {
    block-size: 10em;
    float: left;
    padding: 1em;
}

.laptopImgSmall {
    block-size: 3em;
    float: left;
}

.history-container {
    display: grid;
    overflow-y: scroll;
    height: 100%;
}
.history-item {
    border-bottom: 2px solid black;
    padding: 15px;
}

#description {
    float: top;
    font-size: 20px;
    padding: 0.5em;
    padding-top: 2em;
}

select {
    height: 2em;
    margin: 10px;
}

.grid-container {
    display: grid;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    grid-template-areas:
      'bank work laptop history'
      'laptopdesc laptopdesc price history';
    grid-gap: 10px;
    background-color: #2196F3;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
.grid-item-bank {
    grid-area: bank;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}
.grid-item-work {
    grid-area: work;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}
.grid-item-laptopfeat {
    grid-area: laptop;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}
.grid-item-laptopInfo {
    grid-area: laptopdesc;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}
.grid-item-price {
    grid-area: price;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}
.grid-item-history {
    grid-area: history;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 339px;
    padding-bottom: 85px
}